<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <context-param>
        <description>The path where the user avatar images are stored.</description>
        <param-name>avatarsFolder</param-name>
        <param-value>/Image/AvatarImg</param-value>
    </context-param>
    <filter>
        <filter-name>CookieFilter</filter-name>
        <filter-class>filters.CookieFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/restricted/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CookieFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.WebAppListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LogoutAction</servlet-name>
        <servlet-class>log.LogoutAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>log.LoginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAction</servlet-name>
        <servlet-class>log.RegisterAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>users.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>users.updateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateShopList</servlet-name>
        <servlet-class>ShopList.CreateShopList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShareShopListServlet</servlet-name>
        <servlet-class>ShopList.ShareShopListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowShopList</servlet-name>
        <servlet-class>ShopList.ShowShopList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chat</servlet-name>
        <servlet-class>ShopList.chat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShopList</servlet-name>
        <servlet-class>ShopList.DeleteShopList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewProductToDataBase</servlet-name>
        <servlet-class>ShopList.AddNewProductToDataBase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>Products.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSharedUsers</servlet-name>
        <servlet-class>ShopList.DeleteSharedUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductToList</servlet-name>
        <servlet-class>ShopList.AddProductToList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setPID</servlet-name>
        <servlet-class>ShopList.setPID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>messageNotification</servlet-name>
        <servlet-class>Notifications.messageNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveGuestList</servlet-name>
        <servlet-class>ShopList.SaveGuestList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importGuestList</servlet-name>
        <servlet-class>ShopList.importGuestList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeProduct</servlet-name>
        <servlet-class>ShopList.removeProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeALLProducts</servlet-name>
        <servlet-class>ShopList.removeALLProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeRole</servlet-name>
        <servlet-class>users.changeRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signProductAsBuyed</servlet-name>
        <servlet-class>ShopList.signProductAsBuyed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>statusALLProducts</servlet-name>
        <servlet-class>ShopList.statusALLProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suggestions</servlet-name>
        <servlet-class>ShopList.suggestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductNumbers</servlet-name>
        <servlet-class>Products.ProductNumbers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCategories</servlet-name>
        <servlet-class>Categories.ShowListCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateListCategory</servlet-name>
        <servlet-class>Categories.CreateListCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteListCategory</servlet-name>
        <servlet-class>Categories.DeleteListCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutAction</servlet-name>
        <url-pattern>/restricted/LogoutAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAction</servlet-name>
        <url-pattern>/RegisterAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/restricted/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/restricted/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateShopList</servlet-name>
        <url-pattern>/CreateShopList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShareShopListServlet</servlet-name>
        <url-pattern>/restricted/ShareShopListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowShopList</servlet-name>
        <url-pattern>/ShowShopList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chat</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShopList</servlet-name>
        <url-pattern>/DeleteShopList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewProductToDataBase</servlet-name>
        <url-pattern>/AddNewProductToDataBase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSharedUsers</servlet-name>
        <url-pattern>/restricted/DeleteSharedUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductToList</servlet-name>
        <url-pattern>/AddProductToList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setPID</servlet-name>
        <url-pattern>/setPID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>messageNotification</servlet-name>
        <url-pattern>/messageNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveGuestList</servlet-name>
        <url-pattern>/SaveGuestList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importGuestList</servlet-name>
        <url-pattern>/importGuestList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeProduct</servlet-name>
        <url-pattern>/removeProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeALLProducts</servlet-name>
        <url-pattern>/removeALLProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeRole</servlet-name>
        <url-pattern>/changeRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signProductAsBuyed</servlet-name>
        <url-pattern>/signProductAsBuyed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statusALLProducts</servlet-name>
        <url-pattern>/statusALLProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suggestions</servlet-name>
        <url-pattern>/suggestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductNumbers</servlet-name>
        <url-pattern>/ProductNumbers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCategories</servlet-name>
        <url-pattern>/restricted/ShowCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateListCategory</servlet-name>
        <url-pattern>/restricted/CreateListCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteListCategory</servlet-name>
        <url-pattern>/restricted/DeleteListCategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/homepage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
