/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-giu-2018, 20.07.12
    Author     : Roberto97
*/

html{
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar { 
    display: none; 
}

body{
    text-align: center;
    background: lightblue;
}